@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
img {
  margin: 0;
}
/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;

  border: 0;
}
body {
  width: 100%;
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

header {
  padding: 2em 0;
  text-align: center;
  color: hsl(183, 100%, 15%);
}
main {
  background-color: hsl(0, 0%, 100%);
  padding: 1em;
  margin: 2em auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bill,
.select {
  color: hsl(186, 14%, 43%);
  margin-bottom: 0.5em;
}
#bill,
#person {
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  border: 0;
  padding: 1em;
  border-radius: 10px;
  text-align: end;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 1em;
}
#bill {
  background-image: url(images/icon-dollar.svg);
  margin-bottom: 1em;
}
#person {
  background-image: url(images/icon-person.svg);
  margin-bottom: 1em;
}

.tip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  width: 100%;
  margin-bottom: 2em;
}

.onee {
  border: 0;
  cursor: pointer;
  position: relative;
  text-align: center;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.tip input.custom {
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
  text-align: end;
  padding: 0.5em;
  color: hsl(183, 100%, 15%);
  border-radius: 10px;
  border: 0;
}
.onee span {
  background-color: hsl(183, 100%, 15%);
  color: hsl(185, 41%, 84%);
  /* width: 100%; */
  padding: 1em;
  display: block;
  border-radius: 5px;
}
.onee input:checked ~ span,
.onee span:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

#bill:hover,
#bill:focus {
  outline: 1px solid hsl(172, 67%, 45%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cal-tip {
  background-color: hsl(183, 100%, 15%);
  padding: 1em;
  width: 100%;
  border-radius: 10px;
}
.amount,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.amounttext,
.totaltext {
  color: hsl(185, 41%, 84%);
}
.tip-amount,
.total-tip {
  color: hsl(172, 67%, 45%);
  font-size: 24px;
}
.person {
  color: hsl(186, 14%, 43%);
}
.error {
  outline: 1px solid red;
  border-radius: 5px;
}
.errortext {
  display: none;
  text-align: end;
  color: red;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}
.reset {
  width: 100%;
  border: 0;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border-radius: 10px;
  padding: 1em;
}
.input-per {
  margin-bottom: 2em;
}
.people {
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}
.submit {
  border: 0;
  border-radius: 10px;
  color: hsl(172, 67%, 45%);
  background-color: hsl(172, 22%, 13%);
  text-transform: capitalize;
  width: 100%;
  padding: 1em;
  cursor: pointer;
}
.submit:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(172, 22%, 13%);
}
.reset:hover {
  cursor: pointer;
  filter: brightness(100%) contrast(280%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 60rem) {
  main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 2em;
  }
  .people {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
    align-items: flex-end;
  }
  .input-per,
  #person {
    margin-bottom: 0em;
  }

  .cal-tip {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tip {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
  }
  .flex {
    flex-direction: column;
  }
  .errortext {
    text-align: start;
  }
}
